<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
    Добавить страховую организацию -
        [<a th:href="@{/}"> Главная </a>]
</div><br>

<div th:if="${errorUnique}">
    <span th:text="${errorUnique}"></span>
</div><br>

<div>
    <form method="post" th:action="@{/add-insurance}" th:object="${insurance}">

        <label>ИНН</label>
        <input type="text" th:field="*{inn}">
        <span th:if="${#fields.hasErrors('inn')}" th:errors="*{inn}"></span> <br><br>

        <label>ОГРН</label>
        <input type="text" th:field="*{ogrn}">
        <span th:if="${#fields.hasErrors('ogrn')}" th:errors="*{ogrn}"></span> <br><br>

        <label>Название</label>
        <input type="text" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> <br><br>

        <label>Адрес</label>
        <input type="text" th:field="*{adres}">
        <span th:if="${#fields.hasErrors('adres')}" th:errors="*{adres}"></span> <br><br>

        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>

</body>
</html>
